flows (2).json
[{"id":"61e6a4d6.fd769c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"322c179b.2d43c8","type":"ui_form","z":"61e6a4d6.fd769c","name":"","label":"","group":"113c44e7.f7415b","order":1,"width":0,"height":0,"options":[{"label":"Cement","value":"cem","type":"number","required":true,"rows":null},{"label":"Blast Furnace","value":"bf","type":"number","required":true,"rows":null},{"label":"Fly Ash","value":"fa","type":"number","required":true,"rows":null},{"label":"water","value":"water","type":"number","required":true,"rows":null},{"label":"superplacticizer","value":"sup","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate","value":"ca","type":"number","required":true,"rows":null},{"label":"Fine Aggregate","value":"fag","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"cem":"","bf":"","fa":"","water":"","sup":"","ca":"","fag":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":280,"wires":[["a335be72.e3e94"]]},{"id":"a335be72.e3e94","type":"function","z":"61e6a4d6.fd769c","name":"PreToken","func":"\n//taking the values from form and assigning it to global\n\nglobal.set(\"cement\",msg.payload.cement)\nglobal.set(\"bfg\",msg.payload.bfg)\nglobal.set(\"fa\",msg.payload.fa)\nglobal.set(\"water\",msg.payload.water)\nglobal.set(\"sup\",msg.payload.sup)\nglobal.set(\"ca\",msg.payload.ca)\nglobal.set(\"fag\",msg.payload.fag)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"O-9q45abh6VwouokTMpUtiMNRwF10S3Jg0JwnGQb3Pfx\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":400,"wires":[["f7ae60d3.c0e4b"]]},{"id":"f7ae60d3.c0e4b","type":"http request","z":"61e6a4d6.fd769c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":260,"wires":[["590d8604.9edb08"]]},{"id":"590d8604.9edb08","type":"function","z":"61e6a4d6.fd769c","name":"Pre Prediction","func":"//setting the values here\n\nvar cement = global.get('cement')\nvar bfg = global.get('bfg')\nvar fa = global.get('fa')\nvar water = global.get('water')\nvar sup = global.get('sup')\nvar ca = global.get('ca')\nvar fag = global.get('fag')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"e541bc0f-d08c-4798-9865-ce2ccef5d29f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Cement (component 1)(kg in a m^3 mixture)\", \"Blast Furnace Slag (component 2)(kg in a m^3 mixture)\", \"Fly Ash (component 3)(kg in a m^3 mixture)\", \"Water  (component 4)(kg in a m^3 mixture)\", \"Superplasticizer (component 5)(kg in a m^3 mixture)\", \"Coarse Aggregate  (component 6)(kg in a m^3 mixture)\", \"Fine Aggregate (component 7)(kg in a m^3 mixture)\", \"Age (day)\"], \"values\": [[cement,bfg,fa,water,sup,ca,fag,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":420,"wires":[["24feb0d7.5d667"]]},{"id":"24feb0d7.5d667","type":"http request","z":"61e6a4d6.fd769c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/efb7ed6b-46db-4e17-9f08-adc0caad6828/predictions","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":300,"wires":[["8341a742.a576b8","d01db95a.345478"]]},{"id":"8341a742.a576b8","type":"function","z":"61e6a4d6.fd769c","name":"","func":"//getting the prdictions values from api and storing to to our msg varaible\n\nmsg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":120,"wires":[["42c38eb6.da3ed"]]},{"id":"42c38eb6.da3ed","type":"ui_text","z":"61e6a4d6.fd769c","group":"113c44e7.f7415b","order":2,"width":0,"height":0,"name":"","label":"Strength","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":260,"wires":[]},{"id":"d01db95a.345478","type":"debug","z":"61e6a4d6.fd769c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":440,"wires":[]},{"id":"746e1f82.9a152","type":"comment","z":"61e6a4d6.fd769c","name":"Code by Sourabh Singh","info":"Here we made our prediction with the given dataset\nwith the help of waatson-studio AI \nand used that in depoying our project to the internet\n\n<-- Code by\n    Sourabh Singh-->","x":530,"y":100,"wires":[]},{"id":"113c44e7.f7415b","type":"ui_group","z":"","name":"Default","tab":"36b085c.e80567a","order":1,"disp":true,"width":"6","collapse":false},{"id":"36b085c.e80567a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]